#homeSmall {
    display: none;
}
.img-box {
    display: flex;
    justify-content: center;
}
.img-box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #0ef;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef,
        0 0 50px #0ef,
        0 0 100px #0ef;
    margin-bottom: 2rem;
    ;
}

.home-content-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%
}


.home-content-small h3 {
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    text-align: center;
}

.home-content-small h3:nth-of-type(2) {
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content-small h3 span {
    color: #0ef;
    font-size: 15px;
}

.home-content-small h1 {
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    text-align: center;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content-small p {
    text-align: center;
    font-size: 11px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sci-small a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 15px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 10px 30px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci-small a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-boxSmall-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn-box-small {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
    ;
}

.btn-box-small:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan,
        0 0 200px cyan;
}
